* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #3d4664;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 500px;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.display {
  background: #1f263d;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: right;
  padding: 30px;
  border-radius: 10px;
  height: 115px;
}

.buttons {
  background: #252d49;
  padding: 25px;
  border-radius: 10px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.btn {
  height: 60px;
  border: none;
  border-radius: 8px;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;

  background: #e8e4dd;
  color: #444;
  box-shadow: 0 4px 0 #b8b2a8;
}

.operator,
.special {
  background: #64729d;
  color: white;
  box-shadow: 0 4px 0 #414d73;
}

.reset,
.equals {
  grid-column: span 2;
  height: 60px;
  font-size: 1.3rem;
}

.reset {
  background: #64729d;
  color: white;
  box-shadow: 0 4px 0 #414d73;
}

.equals {
  background: #d13f30;
  color: white;
  box-shadow: 0 4px 0 #8d261c;
}

.btn:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
}
